/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */

body {
  padding: 0 150px;
}

.primary-heading-b {
  font-size: 32px;
  color: #1a2431;
  font-weight: 500;
  font-family: "Baskervville", sans-serif;
}

.secondary-heading-b {
  font-size: 28px;
  color: #1a2431;
  font-weight: 500;
  font-family: "Baskervville", sans-serif;
}
.primary-heading {
  font-size: 32px;
  color: #1a2431;
  font-weight: 500;
  /* font-family: "Baskervville", sans-serif; */
}

.secondary-heading {
  font-size: 28px;
  color: #1a2431;
  font-weight: 500;
  /* font-family: "Baskervville", sans-serif; */
}

.margin-hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-hr-large {
  margin-top: 75px;
  margin-bottom: 75px;
}

.margin-hr-small {
  margin-top: 25px;
  margin-bottom: 25px;
}

.paragraph {
  font-size: 20px;
  color: #62717a;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Baskervville", sans-serif;
}

.items-center {
  /* margin-top: auto;
  margin-bottom: auto; */
  align-self: center;
}

.text-center {
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.flexbox-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  column-gap: 35px;
}

.flexbox-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 25px;
}

.ul-flex {
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
    url("xyz.jpg");
  height: 100vh;
  /* width: 100%;  */
  background-size: cover;
  background-repeat: no-repeat;
}

.border-radius {
  border-radius: 9px;
}

.a {
  font-size: 18px;
  font-weight: 500;
  color: #07344a;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

.m-t {
  margin-top: 30px;
}

.m-r {
  margin-right: 30px;
}

.m-l {
  margin-left: 30px;
}

.m-t-l {
  margin-top: 60px;
}
.m-b-l {
  margin-bottom: 60px;
}
.m-b {
  margin-bottom: 30px;
}

.m-b-small {
  margin-bottom: 10px;
}

.heading-imp {
  color: #1a2431;
  font-family: "Baskervville", Sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2em;
}
