/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  padding: 0 150px;
}

.main-header-heading {
  color: #07344a;
  font-weight: 400;
  /* font-style: italic;
  text-decoration: underline; */
  font-size: 26px;
}

.nav {
  display: flex;
  column-gap: 45px;
  margin-top: 20px;
  /* margin-right: 25px; */
}

.nav-element {
  text-decoration: none;
  font-size: 22px;
  color: #07344a;
  font-weight: 500;
  /* margin-left: auto; */
}

.section-header {
  display: flex;
  justify-content: space-between;
  /* background-color: aliceblue; */
  padding-bottom: 10px;
  padding-top: 15px;
}

.main-content {
  padding-top: 25px;
}

.line-content {
  color: #000;
  font-size: 20px;
}

.line-content-description {
  color: #62717a;
  font-size: 18px;
  font-weight: 500;
  margin-top: -8px;
  padding-bottom: 15px;
}

.general-content {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  /* align-items: center; */
  padding-top: 115px;
}

.general-content-type-2 {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.background-image-content {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
    url("images/4monuments.jpg");
  height: 340px;
  /* width: 100%;  */
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 45px;
  border-radius: 21px;
}

.heading2 {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

.category {
  height: 520px;
  width: 320px;
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 10%);
  border-radius: 20px;
  /* transform: translate(); */
  transition: all 250ms;
}

/* .more-mentions {
  height: 520px;
  width: 320px;
} */

.h3-more-mentions {
  font-size: 26px;
  font-weight: 500;
  color: #09415d;
  padding-left: 40px;
}

.category:hover {
  transform: translateY(-10px);
}

.hero {
  margin-bottom: 75px;
}

hr {
  margin: 0;
}

.hero-heading {
  font-size: 22px;
  color: #09415d;
  font-weight: 500;
}

.hero-content {
  color: #62717a;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.hero-info {
  /* padding: 50px 50px; */
  padding: 0 25px 50px 25px;
  /* margin-bottom: 15px; */
  /* box-sizing: border-box; */
  /* position: absolute;
  width: 100%;
  height: 100px; */
  /* bottom: 0px; */
  /* background-color: rgba(0, 0, 0, 0.13);
  xyz */
}

/* .hero-content-x {
  opacity: 70%;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, transparent),
    color-stop(1, #fff)
  );
} */

.category-pic {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 65px 45px;
  grid-template-areas:
    ". . ."
    ". . .";
}

.grid2 {
  display: flex;
  justify-content: space-around;
}

.popular-hero {
  margin-bottom: 75px;
}

.popular-heading {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

.ul {
  list-style: none;
}

/* .ul li:before {
  content: "✓";
} */

.li {
  color: #62717a;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
}

.more-mentions-a {
  color: #62717a;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  text-decoration: none;
}

.about-us {
  width: 50%;
  /* padding-right: 50px;  */
}

.contact-us {
  width: 50%;
  /* padding-left: 50px; */
}

.heading-about-us {
  font-size: 26px;
  font-weight: 500;
  color: #09415d;
}

.lorem {
  font-size: 18px;
  font-weight: 500;
  color: #62717a;
  line-height: 1.4;
}

.social-icon {
  color: #62717a;
  height: 24px;
  width: 24px;
}

.footer {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  padding-bottom: 30px;
  /* column-gap: 25px; */
}

.ul-flex {
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}
.terms {
  line-height: 1.3;
  text-decoration: none;
  line-height: 1.7;
}

/* .flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 25px;
} */

.footer2 {
  /* padding-top: 15px; */
  display: flex;
  justify-content: space-between;
}

.content1 {
  font-size: 18px;
  font-weight: 500;
  color: #09415d;
  /* line-height: 1.4; */
  /* margin-left: 12px;
  margin-right: 12px;
  text-decoration: none; */
}

/* .content2 {
} */

.flexbox2 {
  display: flex;
  flex-direction: row;
  column-gap: 85px;
  justify-content: space-around;
}

.flexbox3 {
  display: flex;
  flex-direction: column;
}

/* .flexbox4 {
  display: flex;
  flex-direction: row;
} */
